[Unit]
Description=MVG Data compressor

[Service]
WorkingDirectory=/srv/mvg-scraper/data
Type=oneshot
ExecStart=/srv/compressor/compress.sh
ExecStart=/srv/compressor/compress-messages-mvg.sh
ExecStart=/srv/compressor/compress-messages-sbahn.sh

[Install]
WantedBy=multi-user.target